@model IndicatoriDeProfitabilitate.Models.CompanieModel

@{
    ViewBag.Title = "DeleteCompanie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sterge</h2>

<h3>Esti sigur/a ca vrei sa stergi?</h3>
<div>
    <h4>C@*ompanieModel*@</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.IdCompanie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCompanie)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Nume_Companie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nume_Companie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUI)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
