@model IEnumerable<IndicatoriDeProfitabilitate.Models.CompanieModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Companii listate</h2>

<p>
    @Html.ActionLink("Adauga Companie", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.IdCompanie)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Nume_Companie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUI)
        </th>
        
    </tr>

@foreach (var item in Model) {
<tr>
    @*<td>
            @Html.DisplayFor(modelItem => item.IdCompanie)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.Nume_Companie)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CUI)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.IdCompanie }) |
        @Html.ActionLink("Details", "Details", new { id = item.IdCompanie }) |

        @{

            if (User.IsInRole("Admin") && item.Nume_Companie.Contains(User.Identity.Name))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.IdCompanie })
            }
        }


</tr>
}

</table>
