@model IndicatoriDeProfitabilitate.Models.IndicatorModel

@{
    ViewBag.Title = "DeleteIndicator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteIndicator</h2>

<h3>Esti sigur/a ca vrei sa stergi?</h3>
<div>
    @*<h4>IndicatorModel</h4>*@
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.IdIndicator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdIndicator)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Denumire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descriere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriere)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formula_de_calcul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formula_de_calcul)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
